@using Geocontrol_PPI_NET_9.Web.Components.Common
@using Geocontrol_PPI_NET_9.Web.Services
@inherits LayoutComponentBase

@inject AuthService authService

<div class="page">

    @if (authService.IsLoggedIn)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


<LoadingOverlay />