@using Geocontrol_PPI_NET_9.Web.Services

@inject AuthService Auth

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GeoControl App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @LoginText
            </NavLink>
            @if (Auth.IsLoggedIn)
            {
                <NavLink class="nav-link" href="/map" Match="NavLinkMatch.All">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Mapa
                </NavLink>

                <NavLink class="nav-link" href="/users" Match="NavLinkMatch.All">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Usuarios
                </NavLink>

                <NavLink class="nav-link" href="/reports" Match="NavLinkMatch.All">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Reportes
                </NavLink>
            }
        </div>
    </nav>
</div>


@code {
    @code {

        private string LoginText = "Login";

        protected override void OnInitialized()
        {
            Auth.OnChange += AuthStateChanged;
        }

        private async void AuthStateChanged()
        {
            await InvokeAsync(StateHasChanged);

            if (Auth.IsLoggedIn)
            {
                LoginText = "Logout";
            }
            else
            {
                LoginText = "Login";
            }
        }

        private void Logout()
        {
            Auth.Logout();
        }

        public void Dispose()
        {
            /// Necesario para evitar leaks de memoria
            Auth.OnChange -= AuthStateChanged;
        }
    }
}