/* Contenedor centrado */
.login-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: calc(100vh - 70px) !important;
}

/* Caja del login */
.login-card {
    background: #F2E9E4 !important;
    padding: 2rem !important;
    border-radius: 12px !important;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5) !important;
    width: 100% !important;
    max-width: 350px !important;
    text-align: center !important;
}

/* Botón */
.btn-login {
    background-color: #222222 !important;
    color: #fff !important;
    border: none !important;
    padding: 0.6rem 1.2rem !important;
    border-radius: 8px !important;
    width: 100% !important;
    font-weight: bold !important;
    transition: background 0.3s !important;
    margin-top: 3em;
}

.btn-login:hover {
    background-color: #9A8C98 !important;
}

.forgot-pass {
    margin-top: 0em !important;
    font-size: initial !important;
    color: rgba(0,0,0,0.5) !important;
}
