/* Body */
body {
    background-color: #C9B4A7 !important;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Main  Content Card */
.main-content-card {
    background-color: #F2E9E4;
    padding: 1em !important;
    border-radius: 0.7rem;
    width: 100% !important;
    min-width : 100% !important;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    margin-top: 1em !important;
}

/* Icons */
.custom-input-icon .input-group-text {
    background-color: #222222 !important;
    color: #FFF !important;
}

.custom-input-icon {
    color: #CBC9AD !important;
}

/* Form Controls */
.form-control:focus {
    border-color: #513E23 !important;
    box-shadow: 0 0 0 0.25rem rgba(81, 62, 35, 0.35) !important;
}

/* Text */
.title {
    color: #22223B !important;
    font-weight: bold;
}

.text-info {
    color: #694949 !important;
    font-weight: bold;
}

.text-warning {
    color: #694949 !important;
    text-decoration: underline;
    font-weight: bold;
}

.input-text {
    color: #513E23 !important;
    text-align: left !important;
}


/* Loading Overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(154, 140, 152, 0.8);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f1f5f9;
    font-size: 1.2rem;
}

.loading-spinner {
    border: 6px solid #334155;
    border-top: 6px solid #3b82f6;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
