
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black !important;
}

.info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.divider {
    margin: 1.5rem 0;
    border: 0;
    height: 1px;
    background-color: #334155;
}
